.containerr.testimonials__containerr {
    width: 50%;
    padding-bottom: 4rem;
  }
  .avatar {
    width: 4rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto 1rem;
    border: 0.4rem solid var(--color-primary-variant);
  }
  
  .swiper-pagination-clickable .swiper-pagination-bullet {
    background: var(--color-primary);
  }
  .testemonials {
    background: var(--color-bg-variant);
    text-align: center;
    border-radius: 2rem;
    user-select: none;
  }
  
  @media screen and (max-width: 1024px) {
    .container.testimonials__container {
      width: 60%;
    }
  }
  @media screen and (max-width: 600px) {
    .container.testimonials__container {
      width: var(--container-width-sm);
    }
  
    .review {
      width: var(--container-width-sm);
    }
  }