.rating {
  display: flex;
  align-items: center;
}

.profile {
  display: flex;
}

.profile_details {
  display: flex;
  margin-left: 10px;
  flex-direction: column;
  justify-content: start;
  max-height: max-content;
  gap: 10px;
}
.h6 {
  margin: 0;
}
.descreption_text {
  max-width: 50px;
  width: 100%;
}
