.details-view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}

.no-past-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}

p {
  font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
  font-weight: 900;
  letter-spacing: -0.2px;
  line-height: 44px;
  text-transform: none;
}
.title {
  font-size: 38px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 750px;
}

.no-past {
  font-size: 32px;
  padding: 1em;
  text-align: center;
  display: inline-block;
  text-decoration: none !important;
  margin: 0 auto;
}
