.container__searchBar {
  display: flex;
  height: 40vh;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 40%;
  background-image: url("https://resources.turo.com/f/81934/1984x800/493e2d1fde/hp_ny_992x400-2x_2.jpg");
}

.vertical_line {
  width: 1px;
  height: 80%;
  background-color: #e0e0e0;
}
.searchContainer {
  display: flex;
  margin-top: 3vh;
  width: 60%;
  height: 6vh;
  border-radius: 35px;
  align-items: center;
  background-color: white;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
}
