.container {
  display: flex;
  height: 20vh;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
}

.row {
  width: 90%;
  display: flex;
  justify-content: center;
  border: 1px solid black;
  border-radius: 25px;
  align-items: center;
}

.search-icon {
  background-color: #ebebeb;
  border-radius: 50%;
  padding:10px;
  }
