.container__searchBar {
  display: flex;
  height: 40vh;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 40%;
  background-image: url("https://live.staticflickr.com/7097/7230382860_ec128631cc_b.jpg");
}

.vertical_line {
  width: 1px;
  height: 80%;
  background-color: #e0e0e0;
}
.searchContainer {
  display: flex;
  margin-top: 3vh;
  width: 50%;
  height: 6vh;
  border-radius: 35px;
  align-items: center;
  background-color: white;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
}

/* @media screen and (max-width: 768px) {
  .searchContainer {
    margin-top: 30vh;
    border-radius: 35px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border: none;
    background: none;
  }
  .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
    border-style: solid !important;
    border-radius: 35px !important;
    background-color: white !important;
  }
} */
